html{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 0%);
    max-height: 150%;
}
.quizContainer{
   background-color: whitesmoke;
   box-shadow: -1px -1px 22px 0px rgba(63, 50, 50, 0.74);
    box-shadow: 10px;
    max-width: 600px;
    padding: 20px;
    margin: 10% 12% 0 20% ;
}
.heading{
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    text-align: center;
    margin-top: 10px;
}
.que{
    padding-left: 25px;
    margin-bottom: 0;
}

li{
    font-size: 20px;
    padding-top: 10px;
}
ul{
    list-style: none;
}

#submitButton{
    margin: 20px 0 0 23px;
    padding: 5px;
    border: 2px solid #ebc0fd;
    background-color: #ebc0fd;
    border-radius: 4px;
    max-width: fit-content;
    cursor: pointer;
}
#submitButton:hover{
    background-color: #e5e0e7;
}