
html{
	box-sizing: border-box;
  }

*, *:before, *:after{
		box-sizing: inherit;
	}

header{
  /* background-color: #F2E9E9; */
  background-color:#CBB26A;
  height: 80px;
  padding: 0;
  margin: 0;
}  

.logo{
	/* float: left; */
	width: 105px;
  position: sticky;
  top: 10px; 
}

.slogan{
  /* text-align: center; */
  position: relative;
  left: 80px;
  top: 15px;
  color: black;  
}

/* header a:last-child{
  position: absolute;
  left: 100px;
  color: black;
} */

body{
  background: url(background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family:sans-serif, monospace, serif;

}
/* coding for menu starts */
.navbar {
  display: flex;
  flex-wrap: wrap;
  /* width: max-content; */
  gap: 1rem;
  margin: 4em 0;
  padding: 0.25em 1em;
  position: relative;
  bottom: 60px;
  left: 70%;
}
.navbar li {
  display: block; 
}
.navbar a {
  text-decoration: bold;
  color: black;
  font-weight: bold;
}
.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(209, 142, 16);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

/* coding for menu ends */

main {
	margin-right: 0px;
	padding-left: 0px;
	color: #666666;
	font-family:sans-serif, monospace, serif;
	font-size: 100%;
	line-height: 1.4;
	
}
h2,h3  {color: darkred;
padding: 10px;
}

h3 {
float: right;
}

h1   {text-align: left;
border-radius: 100%;}


p    {color: red;}

picture{
	position: absolute;
	 top: 50%;

}

.family_members{
	display: inline;
}

figcaption{
	text-align: center;
} 

.family_members li {
  display: block; 
}

/* img{
	border-radius: 50%;
	padding: 10px;
} */


/* coding for footer starts */
/* footer {
  font-size: 70%;
  justify-content: center;
  display: inline;
  position: relative;
  top: 100%;
}

footer a {
  text-decoration-color: black;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: black;
 

}
footer a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(209, 142, 16);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
footer a::after {
  /* content: '|'; */
  /* padding-left: 0.8em;
  padding-right: 0.4em;
  color: teal;
}
footer a:last-child::after {
  content:'';
}  */ 
footer{
	background-color: #191970;
    text-align: center;
	color: 	#FFFAFA;
    padding: 0 80px 0px 80px;
        margin-top: -20px;
        margin-bottom: -18px;
}

ul{
	
	padding-bottom: 20px;
}

ul li a{
	text-decoration-style: none;
}

/* coding for footer ends */